body{
  background-color: #e6d8d8;
  padding: 0;
  margin: 0;
}


/* ================================================================ */
/* ================================================================ */
/* ============================ NAV BAR =========================== */
/* ================================================================ */
/* ================================================================ */

.home-nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid black;
  background-color: #e6d8d8;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-name-sec{
  font-size: 6vmax;
  font-weight: bolder;
  margin-bottom: 1vmax;
  padding: 0;
  padding-top: 10px;
}


/* ================================================================ */
/* ================================================================ */
/* ============================ NAV BAR =========================== */
/* ================================================================ */
/* ================================================================ */





.home-page-main-grid{
  margin-top: 10vmax;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  padding: 5px;
  place-items: center;
}




.group-wraper-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #d8c0c0;
  border-radius: 100px;
  width: 20vmax;
  word-break:break-word;
  user-select: none;
}

.group-wraper-div p{
  margin: 0;
  padding: 3px;
  font-size: 3vmax;
  font-weight:550;
  
}



















@media (max-width : 980px) {

  /* ================================================================ */
  /* ================================================================ */
  /* ============================ NAV BAR =========================== */
  /* ================================================================ */
  /* ================================================================ */

  .nav-name-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vmax;
    width: 100%;
    padding: 10px 3px;
    padding-top: 20px;
  }

  /* ================================================================ */
  /* ================================================================ */
  /* ============================ NAV BAR =========================== */
  /* ================================================================ */
  /* ================================================================ */


  .home-page-main-grid{
    margin-top: 12vmax;
    grid-template-columns: 1fr 1fr;
  }

  .group-wraper-div{
    width: 15vmax;
  }
}